// Global CSS

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

// Font Names
$opensans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;

// Font Locations
$font_heading: $opensans;
$font_body: $nunito;

$color1: #e78017;
$color2: #119DA4;
$color3: #F4E285;
$black: #1B2F33;
$white: white;
$light-gray: #ebebeb;

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font_heading;
  margin-bottom: 10px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}

// Links
a {
  color: $color1;
}

// Forms
main input {
    margin-bottom: 20px;
}

// Logo
.logo-text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    .lt-img {
        width: 100%;
        max-width: 100px;
    }
    .lt-text {
        h1 {
            color: $black;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 0;
            margin-left: 1rem;
        }
    }
}
@media (max-width: 500px) {
    .logo-text {
        flex-direction: column;
        .lt-img {
            max-width: 60px;
            margin-bottom: 5px;
        }
        .lt-text {
            h1 {
                font-size: 1.5rem;
                margin-left: 0;
            }
        }
    }
}