// Global CSS

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

// Font Names
$open_sans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;

// Font Locations
$font_heading: $open_sans;
$font_body: $nunito;

$color1: #5f56ff;
$color1-light: #dedcff;
$color2: #009FBD; // Modals, etc
$color3: #F9E2AF; // Not used at this time
$black: #1B2F33;
$white: white;
$light-gray: #ebebeb;
$danger: #e74958;
$success: #4caf50;

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font_heading;
  margin-bottom: 10px;
}
h1 {
    font-size: 32px;
}
h1.page-title {
    margin-bottom: 25px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}

// Links
a {
  color: $color1;
}

// Buttons
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.btn-danger {
    background-color: $danger;
    color: $white;
    &:hover {
        background-color: darken($danger, 10%);
    }
}
.btn-success {
    background-color: $success;
    color: $white;
    &:hover {
        background-color: darken($success, 10%);
    }
}
.btn-1 {
    background-color: $color1-light;
    color: $color1;
    font-weight: 600;
    &:hover {
        background-color: $color1;
        color: $white;
    }
}

// Forms
main input {
    margin-bottom: 20px;
}
// Select
select {
    cursor: pointer;
}
// Disabled input
select, input, textarea {
    &:disabled {
        cursor: not-allowed;
    }
}
// Forms: Autocomplete
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

// Logo
.logo-text {
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    .lt-img {
        width: 100%;
        max-width: 100px;
    }
    .lt-text {
        h1 {
            color: $black;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 0;
            margin-left: 1rem;
        }
    }
}
@media (max-width: 500px) {
    .logo-text {
        flex-direction: column;
        .lt-img {
            max-width: 60px;
            margin-bottom: 5px;
        }
        .lt-text {
            h1 {
                font-size: 1.5rem;
                margin-left: 0;
            }
        }
    }
}

// Page sections
// Description: Used for the main content sections. White background with a shadow and rounded corners.
.page-section {
    container-type: inline-size;
    container-name: page-section;
    border-radius: 8px;
    box-shadow: black 0 0 0 0, black 0 0 0 0, rgba(0, 0, 0, .05) 0 1px 2px 0;
    padding: 24px;
    margin-bottom: 25px;
    background-color: $white;
    border-bottom: 1px solid rgb(229, 231, 235);
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
}

// Clean Table
table.clean-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    text-align: center;
    th, td {
        padding: 8px 15px;
        border: 1px solid #ddd;
        text-align: center;
    }
    .notes {
        text-align: left;
    }
    .price {
        text-align: right;
    }
}
@media (max-width: 1000px) {
    table.clean-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        th, td {
            img {
                max-width: 50px;
            }
        }
    }
}

// Sortable Table
#table-sortable {
    th {
        cursor: pointer;
    }
}

// Small arrowhead
a {
    .sm-right-arrowhead {
        font-size: 12px;
        padding-left: 3px;
        transition: .3s;
    }
    &:hover {
        .sm-right-arrowhead {
            padding-left: 6px;
            transition: .3s;
        }
    }
}